html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
    background: #f1f1f1;
}

header {
}

#content {
    padding-bottom: 45px; /* Height of the footer */
    background: url("../images/bg_map.png");
    min-height: 500px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px; /* Height of the footer */
    background: url("../images/rubber_grip.png") repeat;
}

/*HEADER*/
.header-first-part{
    height: 80px;
}
.routes-form{
    width: 1024px;
    margin: auto;
}
.logo, .header-buttons{
    display: inline-block;
}
.logo img{
    width: 47px;
    padding: 5px;
}
.header-second-part{
    height: 40px;
    border-top: 1px solid #e5e5e5;
}
/*END HEADER*/